img {
	display: inline-block;
	width: 300px;
}
h1 {
	padding: 5px;
	font: 24px Arial;
	color: white;
	background-color: red;
}
#author-name-and-date {
	font: 12px Arial;
	color: lightgray;
}
p, ol {
	font: 16px "Times New Roman";
	color: gray;
}
a {
	font: 12px Arial;
	color: blue;
}