body {
	font-family: Roboto, Helvetica, sans-serif;
}
.container {
	text-align: center;
	margin: 5px;
	font-size: 13px;
}
.container h1 {
	font-size: 16px;
	color: #444444;
	text-align: center;
}
.finalValue {
	font-weight: bold;
	color: #2222ff;
}
.offer {
	display: inline-block;
	width: 400px;
	margin: 4px;
	text-align: center;
	border: 1px solid #cccccc;
	border-radius: 1px;
	box-shadow: 0px 2px 2px #dddddd, 0px 0px 5px #dddddd;
}
.offerTitle {
	font-size: 14px;
	font-weight: bold;
	color: #ffffff;
	background-color: #00b3b3;
	padding: 15px;
}
.offerContents {
	padding: 20px;
	border-radius: 0px 0px 2px 2px;
	background-color: #fafafa;
}
table {
	width: 100%;
	background-color: #ffffff;
	border-spacing: 0px;
	box-shadow: 0px 2px 2px #dddddd, 0px 0px 5px #dddddd;
}
th {
	font-size: 12px;
	font-weight: bold;
	color: #777777;
	padding: 10px;
	margin: 0px;
	text-align: left;
	border-bottom: 1px solid #f1f1f1;
}
td {
	font-weight: lighter;
	color: #444444;
	padding: 20px 10px;
	margin: 0px;
	text-align: left;
	border-bottom: 1px solid #f1f1f1;
}